body {
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 30px;
}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.half-width-1 {
    width: 50%;
    margin: 20px 0px 20px 20px;
}

.half-width-2 {
    width: 50%;
    padding: 50px 60px 50px 40px;
}

.half-width-2 img {
    width: 80%;
}

.orange-color {
    color: orange;
}

.flexible-container {
    display: flex;
    margin-bottom: 150px;
}





.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}


.link-button-2 {
    text-decoration: none;
    padding: 10px 40px;
    border-radius: 5px;
    font-weight: 700;
    background-image: linear-gradient(purple, violet);

}

.section-2 {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.half-width {
    margin: 5%;
    box-shadow: 20px 20px 40px black;
    padding-left: 10px;
    border-radius: 10px;

}

#developer-1 {
    border-left: 5px solid tomato;
    border-top: 5px solid tomato;
}

#developer-2 {
    border-left: 5px solid blue;
    border-top: 5px solid blue;
}

footer p {
    text-align: center;
}